.workspace-leaf-content[data-type=outline] .view-content .outline {
    padding-left: 0;
}

.workspace-leaf-content[data-type=outline] .view-content .outline .tree-item-icon {
    cursor: pointer;
    margin-right: 4px;
}

.workspace-leaf-content[data-type=outline] .view-content .outline .tree-item-icon::before {
    width: var(--size-4-2);
    height: var(--size-4-2);
    background-color: var(--text-accent);
    border-radius: 50%;
    position: absolute;
    left: calc(var(--size-4-5));
    top: 50%;
    transform: translateY(-50%);
}

.workspace-leaf-content[data-type=outline] .view-content .outline .tree-item-icon svg path {
    display: none;
}

/* .workspace-leaf-content[data-type=outline] .view-content .outline .tree-item-children {
    overflow: hidden;
    border-left: none;
    margin-left: var(--size-4-2);
    padding-left: var(--size-4-4);
} */

.workspace-leaf-content[data-type=outline] .view-content .outline .tree-item-self {
    position: relative;
    padding-left: var(--size-4-6);
}

.workspace-leaf-content[data-type=outline] .view-content .outline .tree-item-self .tree-item-inner {
    padding-left: var(--size-4-5);
}

.workspace-leaf-content[data-type=outline] .view-content .outline .tree-item-self .tree-item-inner::after {
    content: "";
    width: var(--size-4-1);
    height: var(--size-4-1);
    border: 2px solid var(--text-accent);
    border-radius: 50%;
    position: absolute;
    left: calc(var(--size-4-5));
    top: 50%;
    transform: translateY(-50%);
}

/* .workspace-leaf-content[data-type=outline] .view-content .outline .tree-item-self .tree-item-inner::before {
    content: "";
    width: var(--size-4-2);
    height: 50vh;
    opacity: 0;
    border-left: 2px solid var(--text-accent);
    border-bottom: 2px solid var(--text-accent);
    border-bottom-left-radius: var(--size-4-2);
    position: absolute;
    bottom: calc(var(--line-height-tight) * var(--nav-item-size) / 2 + var(--size-4-1));
    left: -1px;
} */

.workspace-leaf-content[data-type=outline] .view-content .outline .tree-item-self .tree-item-icon+.tree-item-inner {
    padding-left: 0;
}

.workspace-leaf-content[data-type=outline] .view-content .outline .tree-item-self .tree-item-icon+.tree-item-inner::after {
    content: none;
}

/* .workspace-leaf-content[data-type=outline] .view-content .outline .tree-item-self:hover {
    background-color: transparent;
} */

/* .workspace-leaf-content[data-type=outline] .view-content .outline .tree-item-self:hover .tree-item-inner::before {
    opacity: 1;
} */

 .workspace-leaf-content[data-type=outline] .view-content .outline .tree-item-self:hover .tree-item-icon::before {
    background-color: var(--text-normal);
}

 .workspace-leaf-content[data-type=outline] .view-content .outline .tree-item-self:hover .tree-item-inner::after {
    border-color: var(--text-normal);
    background-color: var(--text-normal);
} 

/* .workspace-leaf-content[data-type=outline] .view-content .outline .tree-item-inner {
    z-index: 2;
    background-color: var(--background-secondary);
}  */

/* .workspace-leaf-content[data-type=outline] .view-content .outline .tree-item>.tree-item-children:hover .tree-item-icon+.tree-item-inner::before {
    opacity: 1;
}  */

.workspace-leaf-content[data-type=outline] .view-content .outline .tree-item.is-collapsed .tree-item-icon::before {
    box-shadow: 0 0 0 4px var(--background-modifier-hover);
}

/* .workspace-leaf-content[data-type=outline] .view-content .outline>.tree-item>.tree-item-self .tree-item-inner::before {
    content: none !important;
} */